<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x56" href="../assets/img/logo-only.png">
  <link rel="icon" type="image/png" href="../assets/img/logo-only.png">
  <title>
    Phân Hệ Cán Bộ Quận
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link rel="stylesheet" href="/assets/vendor/libs/bs5dialog/bs5dialog.css" />
  <link rel="stylesheet" href="/assets/css/style.css" rel="stylesheet" />
  <link id="pagestyle" href="/assets/css/material-dashboard.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/form_edit.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


</head>

<body class="g-sidenav-show  bg-gray-200">
    {{{body}}}
  <!--   Core JS Files   -->
  <script src="/assets/vendor/libs/bs5dialog/bs5dialog.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/smooth-scrollbar.min.js"></script>
  <script src="/assets/js/script.js"></script>
  <script>
  flatpickr("#expireDayEdit", {
    dateFormat: "Y-m-d", // Định dạng ngày theo ý muốn
    // Các tùy chọn khác nếu bạn muốn tuỳ chỉnh thêm
  });
</script>

<script>
  document.querySelector('.toast-btn').addEventListener('click', function(event) {
    if (document.querySelector('#lockIcon').style.display === 'inline') {
      event.preventDefault(); // Ngăn chặn sự kiện click khi biểu tượng khóa hiển thị
    }
  });
</script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <script>
    var loadFile = function (event) {
      var image = document.getElementById("output");
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
  <script>
        var dropdown = document.getElementById('phuongDropdown');
        var button = document.getElementById('phuongButton');

        button.addEventListener('click', function () {
            dropdown.classList.toggle('show');
        });

        // Close the dropdown if the user clicks outside of it
        window.addEventListener('click', function (event) {
            if (!event.target.matches('#phuongButton')) {
                dropdown.classList.remove('show');
            }
        });
    </script>

    <!-- Add this script in your HTML file or include it in your JavaScript file -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");

    searchInput.addEventListener("input", function () {
      const searchText = searchInput.value.toLowerCase();
      const tableRows = document.querySelectorAll("#filteredContent tbody tr");

      tableRows.forEach((row) => {
        const rowText = row.textContent.toLowerCase();
        if (rowText.includes(searchText)) {
          row.style.display = ""; // Show the row if it matches the search
        } else {
          row.style.display = "none"; // Hide the row if it doesn't match
        }
      });
    });
  });
</script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=3.1.0"></script>

  
<!-- Add this before the closing body tag -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>

</html>