{{>sidebar curPage="Thông báo"}}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <!-- Navbar -->
  {{>navbar curPage="Thông báo"}}
  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div
              class="bg-gradient-primary shadow-primary border-radius-lg pt-3 pb-1 d-flex justify-content-between align-items-center">
              <h6 class="text-white text-capitalize ps-3">Thông báo</h6>
              <div class="row">
                <div class="col-6">
                  <button class="btn toast-btn btn-outline-white" type="button" data-target="infoToast"
                    style="background-color: transparent; color:transparent; border:none ; outline: none; box-shadow: none;"
                    disabled><i class="fa-solid fa-plus pe-1"></i>Add</button>
                </div>
                <div class="col-6">
                  <li class="nav-item dropdown pe-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0 text-center" id="dropdownMenuButton"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <button class="btn bg-gradient-success mb-0 me-4 toast-btn btn-outline-white" type="button"
                        data-target="infoToast"><i class="fa-solid fa-sort"></i></button>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end px-1 py-1" aria-labelledby="dropdownMenuButton">
                      <li>
                        <a class="dropdown-item text-center" href="javascript:;">
                          <button class="btn btn-outline-info w-100" type="button" data-target="infoToast"><i
                              class="fa-solid fa-arrow-up-a-z pe-1"></i>Người gửi
                          </button>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-center" href="javascript:;">
                          <button class="btn btn-outline-info w-100" type="button" data-target="infoToast"><i
                              class="fa-solid fa-arrow-up-a-z pe-1"></i>Phân loại
                          </button>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-center" href="javascript:;">
                          <button class="btn btn-outline-info w-100" type="button" data-target="infoToast"><i
                              class="fa-solid fa-arrow-up-a-z pe-1"></i>Thời điểm
                          </button>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-center" href="javascript:;">
                          <button class="btn btn-outline-info w-100" type="button" data-target="infoToast"><i
                              class="fa-solid fa-arrow-up-z-a  pe-1"></i>Đã xem
                          </button>
                        </a>
                      </li>
                    </ul>
                  </li>
                </div>
              </div>
            </div>

          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center justify-content-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Người gửi</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phân loại
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Thời điểm
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Đã xem
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="../assets/img/user3.jpeg"
                            class="avatar avatar-sm me-3 border-radius-lg border border-dark" alt="webdev">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Võ Chánh Tín</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">Báo cáo</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center">
                        <span class="me-2 text-xs font-weight-bold">18/11/2023</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v " aria-hidden="true"></i></button>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="../assets/img/user2.jpeg"
                            class="avatar avatar-sm me-3 border-radius-lg border border-dark" alt="webdev">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Nguyễn Lê Tấn Phúc</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">Báo cáo</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center">
                        <span class="me-2 text-xs font-weight-bold">14/11/2023</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v " aria-hidden="true"></i>

                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="../assets/img/user.jpeg"
                            class="avatar avatar-sm me-3 border-radius-lg border border-dark" alt="webdev">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Phan Như Quỳnh</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">Báo cáo</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center">
                        <span class="me-2 text-xs font-weight-bold">11/11/2023</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v " aria-hidden="true"></i>

                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="../assets/img/user4.jpeg"
                            class="avatar avatar-sm me-3 border-radius-lg border border-dark" alt="webdev">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Phan Thái Khang</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">Báo cáo </span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center">
                        <span class="me-2 text-xs font-weight-bold">30/10/2023</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v " aria-hidden="true"></i>

                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="../assets/img/company.jpeg"
                            class="avatar avatar-sm me-3 border-radius-lg border border-dark" alt="webdev">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Công ty ABC</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">Yêu cầu </span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center">
                        <span class="me-2 text-xs font-weight-bold">1/11/2023</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v " aria-hidden="true"></i>

                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="../assets/img/company2.jpeg"
                            class="avatar avatar-sm me-3 border-radius-lg border border-dark" alt="webdev">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Công ty AZL</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">Yêu cầu </span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center">
                        <span class="me-2 text-xs font-weight-bold">30/10/2023</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v " aria-hidden="true"></i>

                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="../assets/img/company.jpeg"
                            class="avatar avatar-sm me-3 border-radius-lg border border-dark" alt="webdev">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Công ty QZ</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">Yêu cầu </span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center">
                        <span class="me-2 text-xs font-weight-bold">22/10/2023</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v " aria-hidden="true"></i>

                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </div>
</main>